/*
  Base
*/

@use '../config/variables'as v;


html {
  font-size: 62.5%;
}

body {
  color: v.$color-text;
  line-height: v.$base-line-height;
  font-size: 1.8rem;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  background-color: v.$color-body-background;

  &.layout-home,
  &.layout-page {
    background: v.$color-body-background url('/bitmap/bg_top_index.png') repeat-x top center;
    background-size: 720px auto;
  }

  &.layout-post {
    background: v.$color-body-background url('/bitmap/bg_top_other.png') repeat-x top center;
    background-size: 720px auto;
    margin-bottom: v.$spacing-unit * 3;
  }
}

ul,
ol {
  margin-left: v.$spacing-unit;
}

li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}