@use '../config/variables'as v;

.featured-preview {
  margin-bottom: v.$spacing-unit * 6;

  @include breakpoint-large {
      display: flex;
  }

  &__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    background-color: #999;
  }

  &__text {
    @include breakpoint-large {
      flex: none;
      width: 50%;
    }
  }
}

.featured-textcontent {

  &__excerpt {
    font-family: v.$base-font-family;

    @include breakpoint-large {
      margin-bottom: auto;
    }
  }

  .post-continue-link { 
    align-self: flex-start;
  }
}
