@use '../config/variables'as v;

/**
 * Posts
 */

.post,
.page {
  font-family: v.$base-font-family;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    margin-bottom: 4rem;
  }
}

.post {
  padding-top: 100px;
}

.post-body {
  margin: 0 auto;
  max-width: 960px;
}

.page {
  padding-top: 120px;
}

.page-header {
  margin-bottom: v.$spacing-unit * 6;
}

.post-title,
.page-title {
  font-size: 2.8rem;
  padding-right: 2.4rem;
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: v.$spacing-unit * 2;
  color: var(--vl-accent);
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  font-family: v.$heading-font-family;

  @include breakpoint-medium {
    font-size: 3.6rem;
  }

  @include breakpoint-large {
    font-size: 4.2rem;
  }
}

.post-continue-link {
  font-family: v.$base-font-family;
  display: inline-block;
  padding-right: 22px;
  position: relative;
  flex: none;

  &:after {
    content: "\00BB";
    display: block;
    position: absolute;
    right: 0.25em;
    top: calc(50% - 0.5rem);
    transition: right .2s;
    font-size: 2.2rem;
    line-height: 1rem;
  }

  &:link {
    color: var(--vl-accent);
  }

  &:visited {
    color: var(--vl-accent);
  }

  &:hover {
    &:after {
      right: 0px;
    }
  }
}


.post-date {
  flex: none;
  min-width: 120px;
  font-size: 1.8rem;
  font-family: v.$heading-font-family;
  color: v.$grey-color;
  margin-right: 20px;
  padding-top: 2px;
}

.post-meta {
  font-family: v.$heading-font-family;
  color: v.$grey-color;
  font-weight: 600;
  font-size: 1.8rem;
}

.post-preview-headline {
  color: var(--vl-accent);
  font-family: v.$heading-font-family;
  font-size: 3.2rem;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: v.$spacing-unit * 3;

  @include max(v.$on-palm) {
    font-size: 2.4rem;
    margin-bottom: v.$spacing-unit * 2;
  }

  > a {
    color: inherit;
    text-decoration: none;
  }
}

.post-preview {
  padding-bottom: 40px;
  margin-bottom: v.$spacing-unit * 3;
  display: flex;

  @include max(v.$on-palm) {
    display: block;
  }

  &__date {
    font-size: 1.8rem;
    flex: none;
    width: 25%;
    min-width: 120px;
    font-family: v.$heading-font-family;
    color: v.$grey-color;
    font-weight: 600;
    margin-top: 2px;

    @include max(v.$on-palm) {
      width: 100%
    }
  }

  &__text {
    width: 75%;
    max-width: 600px;

    @include max(v.$on-palm) {
      width: 100%
    }
  }

  &__excerpt {
    font-family: v.$base-font-family;
    margin-bottom: 1rem;
  }
}


.post-header-img {
  margin-bottom: 3rem;
  min-height: 300px;

  @media (max-width: 30em) {
    margin-bottom: 15px;
    min-height: 170px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.post-header {
  margin-bottom: 3rem;

  @media (max-width: 30em) {
    margin-bottom: 15px;
  }

  &__meta {
    display: flex;
    width: 100%;
  }

  &__intro {
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: v.$spacing-unit * 4;

    @include max(v.$on-palm) {
      font-size: 1.8rem;
    }

    @media (min-width: 768px) {
      padding-right: 25%;
    }
  }
}

.post-header-secondary {
  border-top: 1px solid v.$color-grey-light;
  padding-top: 7px;

  @include max(v.$on-palm) {
    margin-bottom: 24px;
  }

  @include min(v.$on-palm) {
    display: flex;
  }

  &__backlink {
    height: 36px;
    margin-right: auto;

    @include max(v.$on-palm) {
      display: none;
    }

    >a {
      text-decoration: none;
      color: var(--vl-accent);
      line-height: 36px;
    }
  }

  &__sharing {
    display: flex;
    height: 36px;
    align-items: center;

    @include max(v.$on-palm) {}
  }
}

.share-item {
  width: 30px;
  height: 30px;
  display: block;
  flex: none;
  margin-left: 16px;

  >a {
    display: block;
    width: 30px;
    height: 30px;
    background-position: center;
  }
}

.post-headline {
  color: var(--vl-accent);
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  font-family: v.$heading-font-family;
  font-size: 2.2rem;
  line-height: 1.2;
}


.post-content,
.page-content {

  @media (min-width: 768px) {
    padding-right: 35%;
  }

  h2 {
    font-size: 2.4rem;
    color: var(--vl-accent);
    font-weight: bold;
    font-family: v.$heading-font-family;
    line-height: 1.25;
    margin-bottom: 1rem;

    @include breakpoint-not-small {
      font-size: 3.2rem;
    }
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: bold;
    font-family: v.$heading-font-family;
    line-height: 1.25;
    margin-bottom: 1rem;

    @include breakpoint-not-small {
      font-size: 2.2rem;
    }
  }

  h4 {
    color: var(--vl-accent);
    font-weight: bold;
  }

  h4+p {
    margin-top: 0;
  }

  p+h2 {
    margin-top: 2rem;
  }

  a {
    color: var(--vl-accent);
  }
}


.post-nextup {
  margin-bottom: v.$spacing-unit * 8;

  &__inner {
    text-align: center;
  }

  &__headline {
    text-align: center;
    font-size: 2.4rem;
    color: var(--vl-accent);
    font-weight: bold;
    font-family: v.$heading-font-family;
    margin-bottom: v.$spacing-unit * 2;
  }

  &__button {
    max-width: 80%;
    padding: 10px;
    transform: translateX(-10px);
    transition: transform .15s;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
}