@use '../config/'as v;

.archive-previews {
  margin-bottom: v.$spacing-unit * 4;
}

.archive-previews-list {
  display: flex;
  flex-wrap: wrap;
}

.archive-preview {
  margin-right: 5%;
  flex: none;

  @media (min-width: v.$breakpoint-small) {
    width: 95%;
    margin-bottom: v.$spacing-unit * 2;
  }

  @media (min-width: v.$breakpoint-medium) {
    width: 45%;
    margin-bottom: v.$spacing-unit * 4;
  }

  @media (min-width: v.$breakpoint-large){
    width: 28%;
    margin-bottom: v.$spacing-unit * 4;
  }

  &__headline {
    color: var(--vl-accent);
    font-family: v.$heading-font-family;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.2;

    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}
