@use '../config/'as v;

.icon-logo-twitter {
  background-image: url('/svg/icon_twtr_brand.svg');
  background-repeat: no-repeat;
  width: 22px;
}

.icon-logo-fb {
  background-image: url('/svg/icon_fb.svg');
  background-repeat: no-repeat;
  width: 22px;
}

.icon-email {
  background-image: url('/svg/icon_email.svg');
  background-repeat: no-repeat;
  width: 22px;
}
