@use '../config/' as v;

/**
 * Posts
 */

.post-title,
.page-title {
  font-size: 2.8rem;
  padding-right: 2.4rem;
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: v.$spacing-unit * 2;
  color: var(--vl-accent);
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  font-family: v.$heading-font-family;

  @media (min-width: v.$breakpoint-medium) {
    font-size: 3.6rem;
  }
  @media (min-width: v.$breakpoint-large){
    font-size: 4.2rem;
  }
}

.post-continue-link {
  font-family: v.$base-font-family;
  display: inline-block;
  padding-right: 22px;
  position: relative;
  flex: none;

  &:after {
    content: "\00BB";
    display: block;
    position: absolute;
    right: 0.25em;
    top: calc(50% - 0.5rem);
    transition: right .2s;
    font-size: 2.2rem;
    line-height: 1rem;
  }

  &:link {
    color: var(--vl-accent);
  }

  &:visited {
    color: var(--vl-accent);
  }

  &:hover {
    &:after {
      right: 0px;
    }
  }
}


.post-date {
  flex: none;
  font-size: 1.2rem;
  font-family: v.$heading-font-family;
  color: v.$color-grey-middle;
}

.post-meta {
  font-family: v.$heading-font-family;
  color: v.$color-grey-middle;
  font-size: 1.8rem;
}


.post-header-img {
  margin-bottom: 3rem;
  height: clamp(30rem, 60vh, 50rem);
}

.post-header {
  margin-bottom: 1.6rem;

  @media (mimn-width: v.$breakpoint-small) {
    margin-bottom: 3rem;
  }

  &__intro {
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: v.$spacing-unit * 4;

    @media (max-width: v.$breakpoint-small-max) {
      font-size: 1.8rem;
    }

    @media (min-width: 768px) {
      padding-right: 25%;
    }
  }
}

.post-header-secondary {
  border-top: 1px solid v.$color-grey-light;
  padding-top: 7px;

  @media (max-width: v.$breakpoint-small-max) {
    margin-bottom: 24px;
  }

  @media (min-width: v.$breakpoint-small) {
    display: flex;
  }

  &__backlink {
    height: 36px;
    margin-right: auto;

    @media (max-width: v.$breakpoint-small-max) {
      display: none;
    }

    >a {
      text-decoration: none;
      color: var(--vl-accent);
      line-height: 3.6rem;
    }
  }

  &__sharing {
    display: flex;
    height: 3.6rem;
    align-items: center;

    @media (max-width: v.$breakpoint-small-max) {}
  }
}

.share-item {
  width: 3rem;
  height: 3rem;
  display: block;
  flex: none;
  margin-left: 1.6rem;

  >a {
    display: block;
    width: 3rem;
    height: 3rem;
    background-position: center;
  }
}

.post-headline {
  color: var(--vl-accent);
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  font-family: v.$heading-font-family;
  font-size: 2.2rem;
  line-height: 1.2;
}

.post-content,
.page-content {
  margin: 0 auto;
  max-width: 65ch;
  padding-bottom: 5rem;

  h2 {
    font-size: 2rem;
    color: var(--vl-accent);
    font-weight: bold;
    font-family: v.$base-font-family;
    line-height: 1.25;
    margin-bottom: 1rem;

    @media (min-width: v.$breakpoint-small) {
      font-size: 3.2rem;
    }
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: bold;
    font-family: v.$heading-font-family;
    line-height: 1.25;
    margin-bottom: 1rem;

    @media (min-width: v.$breakpoint-small) {
      font-size: 2.2rem;
    }
  }

  h4 {
    color: var(--vl-accent);
    font-weight: bold;
  }

  h4+p {
    margin-top: 0;
  }

  a {
    color: var(--vl-accent);
  }
}


.post-nextup {
  margin-bottom: v.$spacing-unit * 8;

  &__inner {
    text-align: center;
  }

  &__headline {
    text-align: center;
    font-size: 2.4rem;
    color: var(--vl-accent);
    font-weight: bold;
    font-family: v.$heading-font-family;
    margin-bottom: v.$spacing-unit * 2;
  }

  &__button {
    max-width: 80%;
    padding: 10px;
    transform: translateX(-10px);
    transition: transform .15s;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
}