@use '../config/'as v;

/*
  Site navigation elements
*/

.site-nav-button,
.site-nav-close {
  display: block;
  height: 50px;
  border: none;
  background: transparent;
  user-select: none;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  right: 1.6rem;
  top: 0;
  font-size: 1.5rem;
  text-align: right;
  line-height: 48px;
  color: var(--vl-accent);
  font-family: v.$heading-font-family;
  font-weight: bold;

  .label-toggled {
    display: none;
  }

  .label-default {
    display: block;
  }

  &.is-toggled {
    color: var(--vl-accent);

    .label-toggled {
      display: block;
    }
    .label-default {
      display: none;
    }
  }
}


.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: var(--vl-bg-primary);
  overflow: hidden;

  &.is-toggled {
    overflow: auto;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    z-index: 1000;
    transition: height .25s, background-color .25s, opacity .25s, padding .25s;
  }

  &__wrap {
    padding-top: 2rem;
    padding-bottom: 4rem
  }

  &__logo {
    margin: 0 auto;
    height: 40px;
    width: 40px;
    margin-bottom: v.$spacing-unit * 4;

    > img {
       max-width: 100%;
       height: auto;
    }
  }

  &__item,
  &__homelink {
    display: block;
    text-align: left;
    font-family: v.$heading-font-family;
    text-decoration: none;
    position: relative;
    color: var(--vl-accent);
    text-align: center;
  }

  &__item:after{
    content: '';
    border-bottom: 1px solid var(--vl-accent);
    width: 4rem;
    display: block;
    height: 1px;
    position: relative;
    left: calc(50% - 2rem);
    top: 1.1rem
  }

  &__homelink {
    margin-top: 20px;
    padding-left: 18px;

    &:before {
      content: "\00AB";
      display: inline-block;
      position: relative;
      left: -5px;
      top: 0;
      transition: right .2s;
      font-size: 2.2rem;
      line-height: 18px;
    }
  }
}


.site-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}