@use '../config/'as v;


/**
 * Site footer
 */


.site-footer {
  background: transparent url('/png/bg_bottom.png') repeat-x top center;
  background-size: 720px auto;
  padding-top: v.$spacing-unit;
  padding-bottom: (v.$spacing-unit * 3);
  margin-top: auto;
}


.site-logo-footer {
  width: 42px;

  >img {
    max-width: 100%;
  }
}

.colophon {
  text-align: center;

  &__title {
    color: var(--vl-accent);
    font-weight: bold;
    font-family: v.$heading-font-family;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  &__link {
    @media (max-width: v.$breakpoint-small-max) {
      display: block;
      text-align: center;
    }
  }

  .dash {
    display: inline-block;
    padding: 0 1rem;
    color: var(--vl-accent);
    font-size: 1.2rem;

    @media (max-width: v.$breakpoint-small-max) {
      display: none;
    }
  }
}