
@font-face {
    font-family: "Plex Serif";
    src: local("Plex Serif"),
        url("/fonts/IBMPlexSerif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Plex Serif";
    src: local("Plex Serif"),
        url("/fonts/IBMPlexSerif-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}