:root {
    color-scheme: light;
    // primitives 
    --vl-brand: rgb(0, 127, 127);
    --vl-brand-dark: rgb(0, 101, 101);
    --vl-brand-light: rgb(0, 201, 201);

    --vl-accent: var(--vl-brand);
    --vl-accent-dark: var(--vl-brand-dark);
    --vl-accent-light: var(--vl-brand-light);

    --vl-beige-light: rgb(255, 253, 248);
    --vl-beige-dark: hsl(30, 4%, 9%);

    --vl-grey-cool-dark: rgb(65, 82, 82);

    // Common
    --vl-text-primary: var(--vl-grey-cool-dark);
    --vl-bg-primary: var(--vl-beige-light);
}

// @media (prefers-color-scheme: dark) {
//     :root { 
//         color-scheme: dark;
//         --vl-bg-primary: var(--vl-beige-dark);
//         --vl-text-primary: var(--vl-beige-light);
//         --vl-accent: var(--vl-brand-light);
//     }
// }
