@use '../config/variables'as v;


.container {
    padding: 0 (v.$spacing-unit * 2);
    position: relative;
  
    @media #{v.$breakpoint-not-small} {
      margin: 0 auto;
    }
  
    @media #{v.$breakpoint-medium} {
      width: 85%;
    }
  
    @media #{v.$breakpoint-large} {
      width: 75%;
    }
}