---
import { SITE_TITLE } from "../consts";

const today = new Date();
---

<footer class="site-footer">

	<div class="center">
  
	  <div class="site-logo-footer center">
		<img src="/bitmap/logo_small.png" class="" />
	  </div>
  
	  <div class="colophon">
  
		  <div class="colophon__wrap">
			<h2 class="colophon__title">&copy; {today.getFullYear()} | { SITE_TITLE }</h2>
			<a class="link-minor colophon__link" href="https://www.twitter.com/viridianlife">@viridianlife</a> <span class="dash">&mdash;</span>
			<a class="link-minor colophon__link" href="{{ '/about' | relative_url }}">About</a> <span class="dash">&mdash;</span>
			<a class="link-minor colophon__link" href="{{ '/imprint' | relative_url }}">Imprint</a> <span class="dash">&mdash;</span>
			<a class="link-minor colophon__link" href="{{ '/privacy' | relative_url }}">Privacy</a>
		  </div>
  
		</div>
  
	  </div>
  
	</div>
  
  </footer>
  