---
import Sitenav from "./Sitenav.astro";
---

<header class="site-header site-header-dynamic" id="site-header" role="banner">
	<div class="site-header__contents container">
		<button id="site-nav-toggle" class="site-nav-button">
			<span class="label-default">Menu =</span>
			<span class="label-toggled">Close &times;</span>
		</button>
	</div>

	<div id="site-nav" class="site-nav">
		<div class="site-nav__wrap container">
			<button id="site-nav-close" class="site-nav-close">
				<span>Close</span>
				<span>&times;</span>
			</button>
			<div class="site-nav__logo">
				<img src="/bitmap/logo_small.png" class="" />
			</div>
			<Sitenav />
		</div>
	</div>
</header>

<script>
	const navEl = document.getElementById("site-nav");
	const navToggleEl = document.getElementById("site-nav-toggle");
	const navCloseEl = document.getElementById("site-nav-close");
	const headerEl = document.getElementById("site-header");

	if (headerEl) {
		document.addEventListener("scroll", function () {
			if (document.body.getBoundingClientRect().y < -30) {
				headerEl.classList.add("is-scrolled");
			} else {
				headerEl.classList.remove("is-scrolled");
			}
		});
	}

	if (navToggleEl && navEl && navCloseEl) {
		navToggleEl.addEventListener("click", function () {
			console.log("click");
			navEl.classList.add("is-toggled");
			navToggleEl.classList.add("is-toggled");
		});
		navCloseEl.addEventListener("click", function () {
			navEl.classList.remove("is-toggled");
			navToggleEl.classList.remove("is-toggled");
		});
	}

</script>
